gunicorn
streamlit
numpy
pandas
pandas-profiling
olefile
opencv-python
opencv-python-headless
opendatasets
opt-einsum
packaging
pandas
pandas-profiling
absl-py
appdirs
applaunchservices
argh
astunparse
atomicwrites
audioread
backports.weakref
backports.zoneinfo
bkcharts
black
blinker
boto
Bottleneck
brotlipy
cachetools
cassandra-driver
certifi
clyent
colorlover
commonmark
contextlib2
coverage
cufflinks
cycler
cytoolz
deprecation
distlib
easyocr
editdistance
efficientnet
entrypoints
essential-generators
et-xmlfile
eyed3
fastcache
filelock
filetype
fileupload
Flask-MySQLdb
fonttools
future
gast
gensim
geomet
gitdb
GitPython
gmpy2
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
HeapDict
htmlmin
ImageHash
imgaug
ipdb
jdcal
json5
jupyter
kaggle
Keras-Applications
librosa
llvmlite
locket
Markdown
mccabe
missingno
mkl-fft
mkl-service
multimethod
multipledispatch
mypy-extensions
mysql-connector-python
mysqlclient
navigator-updater
oauthlib
olefile
opencv-python
opencv-python-headless
opendatasets
opt-einsum
packaging
pathspec
patsy
pep8
phik
Pillow
pkginfo
platformdirs
ply
pooch
protobuf
pyarrow
pyasn1
pyasn1-modules
pyAudioAnalysis
pyclipper
pycosat
pycurl
pydantic
pydeck
pydub
pytesseract
pytest
python-bidi
python-slugify
PyYAML
pyzmq
QDarkStyle
QtPy
requests-oauthlib
resampy
rich
rsa
scikit-image
semver
Shapely
simplegeneric
smart-open
smmap
SoundFile
tables
tangled-up-in-unicode
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
tesseract
text-unidecode
textblob
thop
tifffile
torch
torchvision
typing_extensions
tzdata
tzlocal
